* {
  #border-style: solid;
  #border-width: thin;
}

.logo {
  margin-top: 20px;
  width: 100px;
}
.icon-text {
  margin-top: 20px;
}
.icon {
  width:50%;
  margin-top: 40px;
}

li {
    list-style-type: none;
}

.menu-hambuger{
  display: none;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 10px;
    width: 50px;
  }

  .logo-text {
    text-align: center;
  }

  .menu-hambuger{
    display: inline-block;;
    margin-top: 10px;
    width: 50px;
  }

  .menu-bar {
    z-index: 100;
    background-color: #fff;
    width: 50%;
    top: 60px;
    right: 0;
    position: fixed;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  .menu-bar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

}
